<div class="controls">
  <h1>Score: {{this.score}}</h1>
  <button type="button" {{on "click" this.submit}}>Submit</button>
  {{#each-in this.matches as |size matches|}}
    {{size}}: {{matches.length}}
  {{/each-in}}
</div>
<div class="game">
  {{#each this.cards as |card|}}
  <Card @card={{card}} @onSelect={{this.onSelect}} />
  {{/each}}
</div>
