<div class="controls">
  <h1>Score: {{this.score}}</h1>
  <button type="button" {{on "click" this.submit}}>Submit</button>
  <button type="button" {{on "click" this.dealMore}}>Deal 1 More</button>
</div>
<div class="game">
  {{#each this.cards as |card|}}
  <Card @card={{card}} @onSelect={{this.onSelect}} />
  {{/each}}
</div>
